extends base

block title
    title chap1 HelloWorld

block slides
    section
        h1 C & C++
        br
        ul
            li 俸志刚（嵌入式软件工程中心 B1307）
            br
            li.fragment QQ群: 612414859 ( uestc2017ccpp )
    section
        h2 请准备：
        br
        ul
            li 一个活页本
            br
            li 一支笔
            br
            li 鼓励自带笔记本电脑

    section
        h2 成绩构成
        br
        ul
            li 平时成绩：20%
            br
            li 实验成绩：40%
            br
            li 期末成绩：40%

    section
        h2 总课时数: 64
        br
        ul
            li C语言：16
            br
            li C++：24
            br
            li 课程设计：20
            br
            li 总结 & 复习：4

    section
        h1 Good Luck!