/thll/thll/cocos2d/*
/thll/thll/proj.win32/thll.VC.VC.opendb
/thll/thll/proj.win32/thll.VC.db
/thll/thll/proj.win32/.vs/*
/thll/thll/proj.win32/Debug.win32/*
/thll/thll/proj.win32/Release.win32/*
/thll/thll/proj.android/*
/thll/thll/proj.android-studio/*
/thll/thll/proj.ios_mac/*
/thll/thll/proj.linux/*
/thll/thll/proj.tizen/*
/thll/thll/proj.ios_mac/*
/thll/thll/proj.win8.1-universal/*
/thll/thll/proj.win10/*
